<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">비밀번호 입력</h3>
            </div>
            <div class="modal-body">
                <h4>비공개로 설정된 공간입니다.</h4>
                <br>

                <p>비밀번호를 입력한 뒤 입장하실 수 있습니다.</p>
                <hr>
                <div class="form-group has-error">
                    <label class="control-label" for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="alert alert-danger" role="alert" id="message" style="display: none;">
                    <strong>비밀번호</strong>가 올바르지 않습니다. 다시 입력해주세요.
                </div>
                <input type="hidden" name="id" value="{{ space_id }}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">돌아가기</button>
                <button type="button" class="btn btn-danger" id="submit-btn">입장</button>
            </div>
        </div>
    </div>
</div>