<!-- Modal -->
<div class="modal fade" id="questionListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h5 class="modal-title" id="myModalLabel">질문 목록</h5>
                <h7 class="text-muted">바로 갈 질문을 선택해주세요.</h7>
            </div>
            <div class="modal-body">
                {% if questions[0] %}
                    {% for question in questions %}
                        {% for item in question.tag | split_tag %}
                            <span class="label label-warning no-bottom-margin">{{ item }}</span>
                        {% endfor %}
                        <h6 class="question no-top-margin"
                            data-index="{{ loop.index - 1 }}">{{ question.question|truncate(20) }}</h6>
                    {% endfor %}
                {% else %}
                    <h4>질문이 없습니다.</h4>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>