<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title text-danger" id="myModalLabel">질문 공간 삭제하기</h4>
            </div>
            <div class="modal-body">
                <h4>< {{ space.title }} ></h4>
                <h5>현재 질문 공간을 삭제합니다.</h5>
                <br>
                삭제하시려면 확인버튼을 눌러주세요.
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('api_delete_space') }}" method="post">
                    <input type="hidden" name="space_id" value="{{ space.id }}"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button class="btn btn-danger" type="submit">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>