<!-- Modal -->
<div class="modal fade" id="spaceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">질문 공간 생성하기</h3>
            </div>
            <form role="form" id="space-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">주제</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="주제를 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label for="description">설명</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="설명을 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label for="slide-url">슬라이드 (optional)</label>
                        <input type="text" class="form-control" id="slide-url" name="slide-url" placeholder="슬라이드 주소를 입력해주세요.">
                    </div>
                    <div class="space-password">
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">비밀번호 확인</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                                   placeholder="비밀번호를 다시 입력해주세요.">
                        </div>
                    </div>
                    <button type="button" id="set-password" class="btn btn-danger btn-sm float-right">비밀번호 설정</button>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-success" id="make-space">생성하기</button>
                </div>
            </form>
        </div>
    </div>
</div>