<!-- Modal -->
<div class="modal fade" id="spaceModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">질문 공간 수정하기</h3>
            </div>
            <form role="form" id="space-modify-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">주제</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="주제를 입력해주세요."
                               value="{{ space.title }}">
                    </div>
                    <div class="form-group">
                        <label for="description">설명</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="설명을 입력해주세요."
                               value="{{ space.description }}">
                    </div>
                    <div class="form-group">
                        <label for="slide-url">슬라이드 (optional)</label>
                        <input type="text" class="form-control" id="slide-url" name="slide-url" placeholder="슬라이드 주소를 입력해주세요."
                                {% if space.slide_url %}
                               value="{{ space.slide_url }}"
                                {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호 (optional)</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                               placeholder="비밀번호를 다시 입력해주세요.">
                    </div>

                    <input type="hidden" id="spaceId" name="spaceId" value="{{ space.id }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-success" id="modify-space">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</div>