<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>DonHesi - 망설이지말고 질문하세요.</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.bxslider.css') }}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/flat-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/facebook.js') }}"></script>


</head>
<body>
{% block layout %}{% endblock %}

</body>
</html>