{% extends "base.html" %}

{% block layout %}
    <div id="login">
        <h1 class="color-2">Hello donhesi!</h1>

        <h3 class="color-1">We need your Name.</h3>

        <button type="submit" id="facebook-btn" class="btn btn-primary" style="margin-top: 15px;">Login with Facebook
        </button>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
