{% extends "layout.html" %}

{% block contents %}
    <div class="container">
        <div class="spaceList">

            <h2 class="text-danger">Topics</h2>
            {% if context.space_list[0] %}
                <div class="spaces">
                    {% for space, count in context.space_list %}
                        {% if loop.index % 3 ==1 %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md-4" id="space_{{ space.id }}">
                        <div class="panel panel-success ">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <a href="{{ url_for('space', space_id = space.id) }}"><h6>{{ space.title|truncate(30) }}</h6></a>
                            </div>
                            <div class="panel-body">
                                <span class="text-muted float-right">{{ space.description|truncate(50) }}</span>
                            </div>
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">총 <strong class="color-2">
                                    {% if count %}{{ count }}{% else %}0{% endif %}</strong>개의 질문이 있습니다.
                                </li>
                                <li class="list-group-item">
                                    {% if space.slide_url %}
                                        <a href="{{ space.slide_url }}" target='_blank'><strong>슬라이드 보기</strong></a>
                                    {% else %}
                                        등록된 슬라이드가 없습니다.
                                    {% endif %} </li>
                                <li class="list-group-item">
                                    {% if space.password %}
                                        <span class="color-2"><i class="fa fa-lock"></i> 비밀번호가 설정된 공간입니다.</span>
                                    {% else %}
                                        <i class="fa fa-unlock-alt"></i> 누구나 질문할 수 있는 공간입니다.
                                    {% endif %}
                                </li>
                                <li class="list-group-item">{{ space.date.strftime('%Y-%m-%d %H:%M:%S') }} 에 생성됨</li>
                            </ul>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-list">
                    글이 존재하지 않습니다. 새로운 글을 등록해주세요.
                </div>
            {% endif %}
        </div>
    </div>
    <button class="btn btn-success space-btn" data-toggle="modal" data-target="#spaceModal">Make Space</button>

    {% include "modal/space_modal.html" %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
