{#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="">Donhesi</a>#}
{#        </div>#}
{#        <ul class="nav navbar-nav">#}
{#            <li><a href=""><i class="fa fa-home"></i> 메뉴 1 </a></li>#}
{#            <li><a href=""><i class="fa fa-pencil"></i> 메뉴 2 </a></li>#}
{#        </ul>#}
{#        <ul class="nav navbar-nav navbar-right">#}
{#            {% if g.user != None %}#}
{##}
{#                <li class="welcome"><strong>{{ g.user }}</strong>님 안녕하세요.<span class="navbar-unread"></span></li>#}
{#                <li><a href="{{ url_for('api_logout') }}">로그아웃</a></li>#}
{#            {% endif %}#}
{#        </ul>#}
{#        <!-- /input-group -->#}
{#        <form class="navbar-form navbar-right" action="#" role="search">#}
{#            <div class="form-group">#}
{#                <div class="input-group">#}
{#                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">#}
{#                    <span class="input-group-btn">#}
{#                      <button type="submit" class="btn"><span class="fui-search"></span></button>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}
{#</nav>#}

<nav class="navbar navbar-inverse navbar-fixed-top main-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Donhesi</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" placeholder="공간 번호를 입력하세요." class="form-control">
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="welcome"><span class="navbar-unread"></span><strong>{{ g.user }}</strong> 님 안녕하세요.</li>
                <li><a href="{{ url_for('api_logout') }}">로그아웃</a></li>
            </ul>

        </div>
    </div>
</nav>