@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/NanumBarunGothic.eot');
  src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumBarunGothic.woff') format('woff'),
       url('../fonts/NanumBarunGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

body {
    font-family: 'Lato', 'Nanum Barun Gothic', Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.float-left {
    float: right;
}

.float-right {
    float: right;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

/*.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*word-break: break-all;*/
/*}*/

#login {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    text-align: center;
}

.welcome {
    color: #fff;
    font-size: 15px;
    padding: 14px 21px 15px 21px;
}

.navbar li a {
    font-weight: normal;
}

.navbar-form input {
    font-family: 'Lato', 'Nanum Barun Gothic', Arial, sans-serif;
}

.main-navbar .navbar-nav>li>a:hover{
    color: #E74C3C;
}

.main-navbar .navbar-brand:hover{
    color: #E74C3C;
}

/* space list */

.panel {
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel h6{
    margin: 0;
}

.panel-success {
    border-color: #45C8AF;
}

.panel-success>.panel-heading {
    background-color: #45C8AF;
    border-color: #45C8AF;
}

.panel-success>.panel-heading a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.spaceList{
    padding: 70px 0 70px 0;
}

.no-list {
    padding: 10px;
    text-align: center;
}

.bx-wrapper img.fb_profile{
    width: 30px;
    height: 30px;
    display: inline;
}

.space-password {
    display: none;
}

.space-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

/* space detail*/

.nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
}

.navbar-nav>li.normal{
    padding: 15px;
    font-weight: bold;
}

.detail-navbar .navbar-nav>li>a{
    font-size: 17px;
}

.detail-navbar a {
    color: #E74C3C;
}

.detail-navbar a:hover {
    color: #EC7063;
}

.sort-menu>li>a {
    text-align: center;
}

.space-title{
    text-align: center;
    padding:8px;
}

.slider-box {
    width: 100%;
    height: 80%;
    position: absolute;
}

p.top-margin {
    margin-top: 100px;
}

.slider-box > .bx-wrapper{
    top: 35%;
    /*margin-bottom: -250px;*/
}

.bxslider li{
    text-align: center;
}

.bxslider li h1 {
    font-size: 65px;
}

.bxslider li h1 a {
    color: #2C3E50;
}

.bxslider li h1 a:hover {
    color: #64798E;
}

.popover {
    min-width: 300px;
    max-width: none;
}

.popover hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.left-bottom-corner{
    position: fixed;
    bottom: 3%;
    left: 3%;
}

.right-bottom-corner{
    position: fixed;
    bottom: 3%;
    right: 3%;
}

.user-control-box{
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.dropdown-menu {
    padding: 10px;
}

.pager-nomargin{
    margin-top: 2px;
    margin-bottom: 0;
}

.question{
    color: #428bca;
    cursor: pointer;
}

.question:hover{
    color: #2a6496;
}

#question-remove {
    position: absolute;
    right: 5%;
    color: #7F8C8D;
}

#question-remove:hover {
    color: #E74C3C;
}

.username-addon {
    background-color: #3498DB;
    border-color: #3498DB;
}

/* modal */

#spaceModifyModal .form-group{
    margin-bottom: 10px;
}

#space-form label.error {
    margin-top: 10px;
    margin-left: 20px;
    color: #fe6263;
}

#space-modify-form label.error {
    margin-top: 10px;
    margin-left: 20px;
    color: #fe6263;
}

/* colors */
.color-1 {
    color: #3efe8d;
}

.color-2 {
    color: #fe6263;
}

.color-3 {
    color: #ffc547;
}

.color-4 {
    color: #00affe;
}

.color-5 {
    color: #D9534F;
}

.color-6 {
    color: #5CB85C;
}

.color-7 {
    color: #428BCA;
}

.color-8 {
    color: #5BC0DE;
}

.color-9 {
    color: #F0AD4E;
}

.color-10 {
    color: #a91f41;
}

.color-11 {
    color: #5c9641;
}

.color-12 {
    color: #2184c7;
}

.color-13 {
    color: #d59a26;
}

.color-14 {
    color: #75539f;
}

.color-15 {
    color: #024B8A;
}

.color-16 {
    color: #1C781C;
}

.color-17 {
    color: #1B809E;
}

.color-18 {
    color: #A07D0E;
}

.color-19 {
    color: #99130F;
}

/* customize flat-ui */

.bootstrap-tagsinput, .tagsinput-primary{
    margin-bottom: 0;
}

.tagsinput-primary .bootstrap-tagsinput{
    border-color:#bdc3c7;
}

.bootstrap-tagsinput input[type=text]:first-child{
    margin:2px 0 6px;
}