{% extends "base.html" %}

{% block layout %}

    {% include "modal/question_list_modal.html" %}
    {% include "modal/space_modify_modal.html" %}
    {% include "modal/space_delete_modal.html" %}

    <nav class="navbar navbar-static-top detail-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-home"></i> Donhesi</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-exclamation-circle"></i> {{ space.title }}</a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">슬라이드 URL</li>
                        {% if space.slide_url %}
                            <li><a href="{{ space.slide_url }}" style="color:#428bca;" target="_blank">{{ space.slide_url }}</a>
                            </li>
                        {% else %}
                            <li><a href="#">슬라이드가 없습니다.</a></li>
                        {% endif %}

                        <li class="divider"></li>

                        <li class="dropdown-header">설명</li>
                        <li><a href="">{{ space.description }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Setting<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu sort-menu" role="menu">
                        <li><a href="{{ url_for('ordered_space', space_id= space.id, order='aesc') }}">시간 순서로 보기</a></li>
                        <li><a href="{{ url_for('ordered_space', space_id= space.id, order='desc') }}">최신 순서로 보기</a></li>
                        <li><a href="{{ url_for('ordered_space', space_id= space.id, order='completed') }}">답변 완료한 질문 보기</a></li>
                        <li><a href="{{ url_for('ordered_space', space_id= space.id, order='new') }}">답변 대기중인 질문 보기</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#spaceModifyModal" style="color:#E67E22;">공간 수정하기</a>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#deleteModal" style="color:#C0392B;">공간 삭제하기</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#questionListModal"><i class="fa fa-th-list"></i> Questions</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if questions[0] %}

        <div class="slider-box">
            <ul class="bxslider">
                {% for question in questions %}
                    <li data-id="{{ question.id }}" data-answered="{{ question.answered }}">
                        <h1><a href="#" class="popoverLink">
                            {{ question.question }}
                        </a></h1>

                        <!-- Popover 2 hidden title -->
                        <div class="popoverTitle" style="display: none">
                            <h6 class="no-top-margin no-bottom-margin">
                                {% for item in question.tag | split_tag %}
                                    <span class="label label-warning">{{ item }}</span>
                                {% endfor %}
                            </h6>
                        </div>
                        <!-- Popover 2 hidden content -->
                        <div class="popoverContent" style="display: none">
                            <h7>질문자</h7>
                            <h6 class="no-top-margin"><a href="https://www.facebook.com/{{ question.user.fb_id }}"
                                                         target="_blank">{{ question.user.name }}</a></h6>
                            <img src="{{ question.user.profile_url }}"/>
                            <hr class="">
                            {{ question.date }} 에 작성
                        </div>

                        <h6><span class="label label-{% if question.answered == 0 %}primary">New{% else %}
                            success">Completed{% endif %}</span></h6>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <i id="question-remove" class="fa fa-times fa-2x"></i>

        <ul class="pager pager-nomargin left-bottom-corner">
            <li class="btn-prev"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
            <li class="btn-next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>

        <div class="right-bottom-corner">
            <button class="btn btn-default" id="postpone-btn">보류하기</button>
            <button class="btn btn-success" id="complete-btn">답변완료</button>
        </div>

    {% else %}

        <div class="slider-box">
            <ul class="bxslider">
                <li>
                    <h1>질문이 없습니다.</h1>

                    <p>청중에게 링크를 보내 질문 등록을 요청하세요.<br>
                        <a href="#">http://donhesi.com/space/{{ space.id }}</a>
                    </p>
                </li>
            </ul>
        </div>

    {% endif %}

    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
    <script>
        function spaceValidator() {
            $('#space-modify-form').validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 2
                    },
                    description: {
                        required: true
                    },
                    confirm_password: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    title: {
                        required: "주제를 입력해주세요.",
                        minlength: "최소 2글자를 입력해주세요."
                    },
                    description: {
                        required: "설명을 입력해주세요."
                    },
                    confirm_password: {
                        equalTo: "비밀번호가 일치하지 않습니다."
                    }
                }
            });
        }

        $(document).ready(function () {
            var $titleInput = $('.form-control[name=title]'),
                    $descriptionInput = $('.form-control[name=description]'),
                    $slideUrlInput = $('.form-control[name=slide-url]'),
                    $passwordInput = $('.form-control[name=password]');

            var $spaceForm = $('#space-modify-form');

            spaceValidator();

            $('#modify-space').click(function () {
                if ($spaceForm.valid()) {
                    modifySpace();
                }
            });

            function modifySpace() {
                var __space_id = $('#spaceId').val();
                var __title = $titleInput.val().trim();
                var __description = $descriptionInput.val().trim();
                var __slide_url = null;
                var __password = $passwordInput.val();

                if ($slideUrlInput.val().trim()) {
                    __slide_url = $slideUrlInput.val().trim();
                } else {
                    __slide_url = null;
                }

                if (__title && __description) {
                    $.post("/api/space/modify", {
                                'space_id':__space_id,
                                'title': __title,
                                'description': __description,
                                'slideurl': __slide_url,
                                'password': __password
                            },
                            function (data) {
                                if (data.status == 0) {
                                    $('#spaceModifyModal').modal('hide');
                                    location.reload();
                                }
                            }
                    );
                }
            }

        });
    </script>


{% endblock %}

