{% extends "base.html" %}

{% block layout %}

    {% include "modal/question_list_modal.html" %}

    <nav class="navbar navbar-static-top detail-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-home"></i> Donhesi</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-exclamation-circle"></i> {{ space.title }}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">슬라이드 URL</li>
                        {% if space.slide_url %}
                            <li><a href="{{ space.slide_url }}" style="color:#428bca;" target="_blank">{{ space.slide_url }}</a>
                            </li>
                        {% else %}
                            <li><a href="#">슬라이드가 없습니다.</a></li>
                        {% endif %}

                        <li class="divider"></li>

                        <li class="dropdown-header">설명</li>
                        <li><a href="">{{ space.description }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#questionListModal"><i class="fa fa-th-list"></i> Questions</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if questions[0] %}
        <div class="slider-box">
            <ul class="bxslider">
                {% for question in questions %}
                    <li data-id="{{ question.id }}" data-answered="{{ question.answered }}">
                        <h1><a href="#" class="popoverLink">
                            {{ question.question }}
                        </a></h1>

                        <!-- Popover 2 hidden title -->
                        <div class="popoverTitle" style="display: none">
                            <h6 class="no-top-margin no-bottom-margin">
                                {% for item in question.tag | split_tag %}
                                    <span class="label label-warning">{{ item }}</span>
                                {% endfor %}
                            </h6>
                        </div>
                        <!-- Popover 2 hidden content -->
                        <div class="popoverContent" style="display: none">
                            <h7>질문자</h7>
                            <h6 class="no-top-margin"><a href="https://www.facebook.com/{{ question.user.fb_id }}"
                                                         target="_blank">{{ question.user.name }}</a></h6>
                            <img src="{{ question.user.profile_url }}"/>
                            <hr class="">
                            {{ question.date }} 에 작성
                        </div>


                        <h6><span class="label label-{% if question.answered == 0 %}primary">New{% else %}
                            success">Completed{% endif %}</span></h6>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="slider-box">
            <ul class="bxslider">
                <li>
                    <h1>질문이 없습니다.</h1>

                    <p>아래 빈칸으로 질문을 등록해주세요.<br>
                        <a href="#">http://donhesi.com/space/{{ space.id }}</a>
                    </p>

                </li>
            </ul>
        </div>
    {% endif %}

    <ul class="pager pager-nomargin left-bottom-corner">
        <li class="btn-prev"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
        <li class="btn-next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul>

    <div class="container user-control-box">


        {% if g.user %}
            <div class="col-md-5 col-md-offset-2">
                <div class="input-group">
                    <span class="input-group-addon">{{ g.user }}</span>
                    <input type="text" name="question" class="form-control" placeholder="질문을 입력해주세요!">
                </div>

            </div>

            <div class="col-md-4">
                <div class="tagsinput-primary">
                    <input name="tag" class="tagsinput" data-role="tagsinput" value="태그를,입력해주세요."/>
                </div>
            </div>

            <div class="col-md-1">
                <input type="hidden" name="spaceId" value="{{ space.id }}">
                <button type="button" id="question-submit" class="btn btn-danger">질문하기</button>
            </div>

        {% else %}

            {#            <div class="col-md-5 col-md-offset-2">#}
            {#                <div class="input-group">#}
            {#                    <span class="input-group-addon">Username</span>#}
            {#                    <input type="text" name="question" class="form-control" placeholder="로그인해 주세요!" disabled>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="col-md-2">#}
            {#                <input type="text" name="tag" class="form-control" placeholder="태그를 입력하세요!" disabled>#}
            {#            </div>#}

            <div class="col-md-3">
                <button type="button" id="facebook-btn" class="btn btn-block btn-facebook"><strong>Facebook으로 로그인하기</strong>
                </button>
            </div>
        {% endif %}

    </div>

    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
    {% if not g.user %}
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/question.js') }}"></script>
    {% endif %}


{% endblock %}
