{% extends "base.html" %}

{% block layout %}

    <nav class="navbar navbar-static-top no-margin-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-home"></i> Donhesi</a>
            </div>
        </div>
    </nav>

    <div class="slider-box">
        <ul class="bxslider">
            <li>
                <h1>올바른 주소가 아닙니다.</h1>

                <p>홈으로 돌아가기<br>
                    <a href="/">http://donhesi.com</a>
                </p>
            </li>
        </ul>
    </div>


    <script>
        var $slider = $('.bxslider').bxSlider();
    </script>

{% endblock %}

